{% load static %}

<head>
 <link rel='stylesheet' href='{% static 'css/style.css' %}'>

</head>



<h1> Registro de Usuario</h1>

{% if messages %}
  <ul class = 'messages'>
      {% for message in messages %}
      <li  {%if message.tags %} class = "error" {%endif%}>  {{message}} </li>
     {%endfor%}
  </ul>  

{% endif%}


<form action = '/register_user' method = "POST">
    {% csrf_token %}
    <p>Nombre:  <input name="name" type="text"> </p>
    <p>Apellido:  <input name="lastname" type="text">   </p>
    <p>email:  <input name="email" type="text">   </p>
    <p>Password:  <input name="password" type="password">   </p>

<button type='submit'>Registrarse</button>
</form>